body{
    margin: 0;
    /* min-height: 100vh; */
}
#container {
    /* width: 1200px; */
    margin: auto;
}

#container>header {
    height: 150px;
    background-color: darkcyan;
}

#container>nav {
    height: 60px;
    background-color: orange;
}

#container>main {
    min-height: 300px;
    display: flex;
}

#container>main>article {
    width: 75%;
    background-color: lightblue;
}

#container>main>aside {
    width: 25%;
    background-color: lightgray;
}

#container>footer {
    height: 90px;
    background-color: darkcyan
}